/*
// Directories
//
*/

$fa-font-path: 'dist/fonts/FontAwesome' !default;
$font-location: 'dist/';

$grid-gutter-width: 20px !default;


/*
// Colors
//
// Gray and brand colors for use across Bootstrap.
*/
$dark: #212121;


$grid-float-breakpoint: 769px;