/*@font-face {
	font-family: 'lato-regular';
	src:url('#{$font-location}fonts/Lato/Lato-Regular.ttf') format('truetype')
}

@font-face {
	font-family: 'lato-light';
	src:url('#{$font-location}fonts/Lato/Lato-Light.ttf') format('truetype')
}

@font-face {
	font-family: 'lato-bold';
	src:url('#{$font-location}fonts/Lato/Lato-Bold.ttf') format('truetype')
}

@font-face {
	font-family: 'lato-bold-italic';
	src:url('#{$font-location}fonts/Lato/Lato-BoldItalic.ttf') format('truetype')
}
*/

/* latin-ext */
@font-face {
  font-family: 'lato-light';
  font-style: normal;
  font-weight: 300;
  src: local('lato-light'), local('lato-light'), url(https://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'lato-light';
  font-style: normal;
  font-weight: 300;
  src: local('lato-light'), local('lato-light'), url(https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'lato-regular';
  font-style: normal;
  font-weight: 400;
  src: local('lato-regular'), local('lato-regular'), url(https://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'lato-regular';
  font-style: normal;
  font-weight: 400;
  src: local('lato-regular'), local('lato-regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'lato-bold';
  font-style: normal;
  font-weight: 700;
  src: local('lato-bold'), local('lato-bold'), url(https://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'lato-bold';
  font-style: normal;
  font-weight: 700;
  src: local('lato-bold'), local('lato-bold'), url(https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'lato-bold-italic';
  font-style: italic;
  font-weight: 700;
  src: local('lato-bold-italic'), local('lato-bold-italic'), url(https://fonts.gstatic.com/s/lato/v11/AcvTq8Q0lyKKNxRlL28RnxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'lato-bold-italic';
  font-style: italic;
  font-weight: 700;
  src: local('lato-bold-italic'), local('lato-bold-italic'), url(https://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYEFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.lato-regular{
	font-family: 'lato-regular';
}

.lato-light{
	font-family: 'lato-light';
}

.lato-bold{
	font-family: 'lato-bold';
}

.lato-bold-italic{
	font-family: 'lato-bold-italic';
}