/* import custom variables */
@import "modules/custom_variables";

/* import bootstrap sass */
@import "../../../../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* import custom fonts */
/*@import "modules/custom_fonts";*/

@import "imports/font-awesome/font-awesome";

/*@import "modules/xl_container";*/




/*****************************************************
//													//
//  					CUSTOM 						//
//													//
*****************************************************/



/*****************************************************
//													//
//  					HEADER 						//
//													//
*****************************************************/

#header{

}


/*****************************************************
//													//
//  					CONTENT						//
//													//
*****************************************************/


#page-content-wrapper {

}


/*****************************************************
//													//
//  					FOOTER						//
//													//
*****************************************************/

#footer{
	
}




/*****************************************************
//													//
//  			RESPONSIVE MODULES					//
//													//
*****************************************************/

/* Small devices (tablets, 768px and up) */
@import "modules/small_devices";

/* Medium devices (desktops, 992px and up) */
@import "modules/medium_devices";

/* Large devices (large desktops, 1200px and up) */
@import "modules/large_devices";